@model AkademiPlus_Transportation.Models.TblAdmin

@{
    Layout = null;
}

@*<h2>Yeni Admin Girişi</h2>
<br />

<form method="post">
    <label>Kullanıcı Adı</label>
    @Html.TextBoxFor(a => a.UserName, new { @class = "form-control" })
    <br />

    <label>Şifre</label>
    @Html.TextBoxFor(a => a.Password, new { @class = "form-control" })
    <br />

    <label>Kullanıcı Rol</label>
    @Html.TextBoxFor(a => a.AdminRole, new { @class = "form-control" })
    <br />

    <button class="btn btn-primary">Kayıt Ol</button>
</form>*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodePen - A Pen by Mohithpoojary</title>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>
    <link rel="stylesheet" href="~/Templates/CodePen-Login/dist/style.css">

    <style>
        a {
            text-decoration: none;
            color: #4C489D;
        }
    </style>

</head>
<body>
    <!-- partial:index.partial.html -->
    <div class="container">
        <div class="screen">
            <div class="screen__content">
                <form method="post" class="login">
                    <div class="login__field">
                        <i class="login__icon fas fa-user"></i>
                        <input type="text" class="login__input" name="UserName" placeholder="Kullanıcı Adı / Email">
                    </div>
                    <div class="login__field">
                        <i class="login__icon fas fa-lock"></i>
                        <input type="password" class="login__input" name="Password" placeholder="Şifre">
                    </div>
                    <div class="login__field">
                        <i class="login__icon fas fa-user"></i>
                        <input type="text" class="login__input" name="AdminRole" placeholder="Kullanıcı Rolü">
                    </div>
                    <a href="/Login/Index/">
                        <button class="button login__submit">
                            <span class="button__text">Kayıt Ol</span>
                            <i class="button__icon fas fa-chevron-right"></i>
                        </button>
                    </a>
                </form>
            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>
        </div>
    </div>
    <!-- partial -->

</body>
</html>