
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

<body>

    <!--/inner-page-->
    <div class="inner-banner py-5">
        <section class="w3l-breadcrumb text-left py-sm-5 ">
            <div class="container">
                <div class="w3breadcrumb-gids">
                    <div class="w3breadcrumb-left text-left">
                        <h2 class="inner-w3-title mt-lg-5 mt-4">
                            Bize Ulaşın
                        </h2>

                    </div>
                    <div class="w3breadcrumb-right">
                        <ul class="breadcrumbs-custom-path">
                            <li><a href="/MainPage/Index/">Anasayfa</a></li>
                            <li class="active"><span class="fas fa-angle-double-right mx-2"></span>İletişim</li>
                        </ul>
                    </div>
                </div>

            </div>
        </section>
    </div>
    <!--//inner-page-->
    <!-- contacts-5-grid -->
    <div class="w3l-contact-10 py-5" id="contact">
        <div class="form-41-mian pt-md-5 pt-3">
            <div class="container">
                <div class="row contacts-5-grid-main mb-5">
                    <div class="col-lg-6 contacts-5-grid pe-lg-5">
                        <h5 class="title-subw3hny">Takımımızla İletişime Geç</h5>
                        <h3 class="title-w3l mb-3">Bizimle Temasa Geçin</h3>
                        <p>Lorem ipsum dolor sit amet, cons ectetur adipiscing elitull am aliqu am, velit rutrum dictum lobortis, turpis justo auc tor quam, a auctor lorem odio in nunc.</p>

                        <h4 class="title-w3l-adinf mt-4">7/24 Tam Destek</h4>
                        <div class="address-grid d-flex">
                            <i class="fas fa-headset mt-2"></i>
                            <p><a href="tel:+12 324-016-694" class="link1">+90 555 555 55 55</a></p>
                        </div>
                        <div class="address-grid d-flex">
                            <i class="fas fa-envelope"></i>
                            <p class="mt-0"><a href="mailto:mail@example.com" class="link1">deneme@deneme.com</a></p>

                        </div>
                    </div>

                    <div class="col-lg-6 form-inner-cont mt-lg-0 mt-4">
                        <form action="https://sendmail.w3layouts.com/submitForm" method="post" class="signin-form">
                            <div class="form-grids">
                                <div class="form-input">
                                    <input type="text" name="w3lName" id="w3lName" placeholder="İsminizi yazın.. *" required="" />
                                </div>
                                <div class="form-input">
                                    <input type="text" name="w3lSubject" id="w3lSubject" placeholder="Konuyu yazın.. " required />
                                </div>
                                <div class="form-input">
                                    <input type="email" name="w3lSender" id="w3lSender" placeholder="Mail adresinizi yazın.. *" required />
                                </div>
                                <div class="form-input">
                                    <input type="text" name="w3lPhone" id="w3lPhone" placeholder="Telefon numaranızı yazın.. *" required />
                                </div>
                            </div>
                            <div class="form-input">
                                <textarea name="w3lMessage" id="w3lMessage" placeholder="Açıklamanızı buraya yazın.." required=""></textarea>
                            </div>
                            <div class="w3-submit text-right">
                                <button class="btn btn-style btn-primary">Mesajı Gönder<i class="fas fa-paper-plane ms-2"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- //contacts-5-grid -->
    </div>

    <div class="contacts-sub-5">
        <div class="contacts-mapw3 position-relative">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6119.648560402154!2d32.84680067663656!3d39.922948417702116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34effd6b9930b%3A0x6fa79cbeeeec0bac!2zS8SxesSxbGF5LCAwNjQyMCDDh2Fua2F5YS9BbmthcmE!5e0!3m2!1str!2str!4v1677869907765!5m2!1str!2str" style="border:0" allowfullscreen></iframe>
            <div class="map-content-5">
                <h4 class="title-w3l-adinf mb-3">Adres Bilgilerimiz</h4>
                <div class="address-grid">
                    <i class="fas fa-map-marker-alt"></i>
                    <p>Ankara - Kızılay</p>
                </div>
                <div class="address-grid my-2">
                    <i class="fas fa-envelope"></i>
                    <p><a href="mailto:mail@example.com" class="link1">deneme@deneme.com</a></p>

                </div>
                <div class="address-grid">
                    <i class="fas fa-phone-alt"></i>
                    <p><a href="tel:+12 324-016-695" class="link1">+90 555 555 55 55</a></p>
                </div>
                <div class="address-grid my-2">
                    <i class="far fa-clock"></i>
                    <p>Pazartesi - Cuma: 09:00 - 18:00</p>
                </div>
                <div class="address-grid">
                    <p>Hafto Sonları Kapalıyız</p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
