<section class="w3l-clients py-5" id="testimonials">
    <div class="container pt-md-5 pt-4">
        <div class="w3-testimonial-grids align-items-center py-lg-5">
            <div class="w3-testimonial-content-top">
                <div class="mb-4">
                    <div class="item">
                        <div class="testimonial-content">
                            <div class="testimonial">
                                <blockquote>
                                    <q>
                                        <i class="fas fa-quote-left me-2"></i>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit beatae
                                        laudantium
                                        voluptate rem ullam dolore nisi voluptatibus esse quasi, doloribus tempora.
                                        Dolores molestias adipisci dolor sit amet! by the Desire to achieve
                                        Success.
                                    </q>
                                </blockquote>
                                <div class="testi-des">
                                    <div class="test-img">
                                        <img src="~/Templates/Transpolar-Starter/assets/images/team1.jpg" class="img-fluid" alt="client-img">
                                    </div>
                                    <div class="peopl align-self">
                                        <h3>John wilson</h3>
                                        <p class="indentity">Subtitle goes here</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
