
<footer class="w3l-footer9">
    <section class="footer-inner-main py-5">
        <div class="container py-md-4">
            <div class="right-side">
                <div class="row footer-hny-grids sub-columns">
                    <div class="col-lg-4 sub-one-left pe-lg-5">
                        <h2>
                            <a class="navbar-brand" href="index.html">
                                <i class="fas fa-truck-moving"></i> Transpolar
                            </a>
                        </h2>
                        <p class="footer-phny mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ute dolor sit.</p>
                        <div class="columns-2 mt-4 pt-lg-2">
                            <ul class="social">
                                <li>
                                    <a href="#facebook"><span class="fab fa-facebook-f"></span></a>
                                </li>
                                <li>
                                    <a href="#linkedin"><span class="fab fa-linkedin-in"></span></a>
                                </li>
                                <li>
                                    <a href="#twitter"><span class="fab fa-twitter"></span></a>
                                </li>
                                <li>
                                    <a href="#google"><span class="fab fa-google-plus-g"></span></a>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-8 sub-two-right">
                        <div class="row">
                            <div class="col-lg-3 sub-two-right">
                                <h6>Biz kimiz</h6>
                                <ul>
                                    <li>
                                        <a href="about.html">Hakkımızda</a>
                                    </li>
                                    <li>
                                        <a href="about.html">Takımımız</a>
                                    </li>
                                    <li>
                                        <a href="#news">Haber & Medya</a>
                                    </li>
                                    <li>
                                        <a href="#case">Çalışmalarımız</a>
                                    </li>
                                    <li>
                                        <a href="contact.html">Bizimle Çalış</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-3 sub-two-right">
                                <h6>Neler Yapıyoruz</h6>
                                <ul>
                                    <li>
                                        <a href="#warehousing">Depoloma</a>
                                    </li>
                                    <li>
                                        <a href="#air">Hava Taşımacılığı</a>
                                    </li>
                                    <li>
                                        <a href="#ocean">Deniz Taşımacılığı</a>
                                    </li>
                                    <li>
                                        <a href="#road">Kara Taşımacılığı</a>
                                    </li>
                                    <li>
                                        <a href="#supply">Tedarik Zinciri</a>
                                    </li>
                                    <li>
                                        <a href="#packaging">Paketleme</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-3 sub-two-right">
                                <h6>Şirket</h6>
                                <ul>
                                    <li>
                                        <a href="#request">Nakliye Talep Et</a>
                                    </li>
                                    <li>
                                        <a href="#track">Takip ve İzleme</a>
                                    </li>
                                    <li>
                                        <a href="#job">İş Uygulaması</a>
                                    </li>
                                    <li>
                                        <a href="#posts">Haberler</a>
                                    </li>
                                    <li>
                                        <a href="#support">24/7 Destek</a>
                                    </li>
                                    <li>
                                        <a href="#story">Kullanıcı Yorumları</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-3 sub-two-right">
                                <h6>Daha Fazla Bilgi</h6>
                                <ul>
                                    <li>
                                        <a href="#planing">Planlama</a>
                                    </li>
                                    <li>
                                        <a href="#processing">Uzman İpuçları</a>
                                    </li>
                                    <li>
                                        <a href="#research">İpuçları ve Stratejiler</a>
                                    </li>
                                    <li>
                                        <a href="#metal">Kolay Ödeme</a>
                                    </li>
                                    <li>
                                        <a href="#delivery">Hızlı Teslimat</a>
                                    </li>
                                    <li>
                                        <a href="#faq">SSS</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="below-section mt-lg-5 pt-lg-4">
                <div class="copyright-footer">
                    <p class="copyright-column">
                        © 2022 Transpolar.All rights reserved. Design by <a href="https://w3layouts.com/" target="_blank">
                            W3Layouts
                        </a>
                    </p>

                    <ul class="footer-w3list text-right">
                        <li>
                            <a href="#url">Gizlilik Politikası</a>
                        </li>
                        <li>
                            <a href="#url">Şartlar &amp; Koşullar</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </section>

    <!-- Js scripts -->
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fas fa-level-up-alt" aria-hidden="true"></span>
    </button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }

    </script>
    <!-- //move top -->
</footer>