<section class="w3l-features py-5" id="features">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="title-content text-center mb-lg-3 mb-4">
            <h6 class="title-subw3hny mb-1">Neler Yapıyoruz</h6>
            <h3 class="title-w3l">Servislerimiz</h3>
        </div>
        <div class="main-cont-wthree-2">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="grids-1 box-wrap">
                        <div class="icon">
                            <i class="fas fa-truck"></i>
                        </div>
                        <h4><a href="#service" class="title-head mb-3">Toplu Taşıma</a></h4>
                        <p class="text-para">Lorem ipsum dolor sit amet, elit. Id ab commodi magnam. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="grids-1 box-wrap">
                        <div class="icon">
                            <i class="fas fa-chalkboard-teacher"></i>
                        </div>
                        <h4><a href="#service" class="title-head mb-3">Canlı İzleme</a></h4>
                        <p class="text-para">Lorem ipsum dolor sit amet, elit. Id ab commodi magnam. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-5 mt-4">
                    <div class="grids-1 box-wrap">
                        <div class="icon">
                            <i class="fas fa-people-carry"></i>
                        </div>
                        <h4><a href="#service" class="title-head mb-3">Dünya Çapında Hizmet</a></h4>
                        <p class="text-para">Lorem ipsum dolor sit amet, elit. Id ab commodi magnam. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
