<section class="w3l-newsletter py-5">
    <div class="container py-sm-5">
        <div class="uphny-w3l-newsletter-inf">
            <div class="row uphny-w3l-newsletter align-items-center">
                <div class="col-lg-6 w3l-newsletter-left text-left">
                    <h3 class="titlehny">Gelecekteki güncellemelerimizi kaçırmayın! Bugün abone olun!</h3>
                </div>
                <div class="col-lg-6 w3l-newsletter-form ps-lg-5 mt-lg-0 mt-md-5 mt-4">
                    <form action="#" method="post" class="subscribe-wthree">
                        <div class="flex-wrap subscribe-wthree-field">
                            <input class="form-control" type="email" placeholder="Email Adresinizi Girin.." name="email" required="">
                            <button class="btn btn-style btn-primary" type="submit">Abone Ol</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
