<section class="w3l-witemshny-main py-5">
    <div class="container py-md-4">
        <!--/row-1-->
        <div class="witemshny-grids row">
            <div class="col-md-3 col-6 product-incfhny mt-4">
                <div class="weitemshny-grid oposition-relative">
                    <a href="#img" class="d-block zoom"><img src="~/Templates/Transpolar-Starter/assets/images/g1.jpg" alt="" class="img-fluid news-image"></a>
                    <div class="witemshny-inf">
                    </div>
                </div>
                <h4 class="gdnhy-1 mt-lg-4 mt-3">
                    <a href="#img">Karayolu Taşımacılığı</a>
                </h4>
                <p class="mt-md-2">Lorem ipsum dolor sit amet, elit. Id ab commodi magnam.</p>
            </div>
            <div class="col-md-3 col-6 product-incfhny mt-4">
                <div class="weitemshny-grid oposition-relative">
                    <a href="#img" class="d-block zoom"><img src="~/Templates/Transpolar-Starter/assets/images/g6.jpg" alt="" class="img-fluid news-image"></a>
                    <div class="witemshny-inf">
                    </div>
                </div>
                <h4 class="gdnhy-1 mt-lg-4 mt-3">
                    <a href="#img">Hava Taşımacılığı</a>
                </h4>
                <p class="mt-md-2">Lorem ipsum dolor sit amet, elit. Id ab commodi magnam.</p>
            </div>
            <div class="col-md-3 col-6 product-incfhny mt-4">
                <div class="weitemshny-grid oposition-relative">
                    <a href="#img" class="d-block zoom"><img src="~/Templates/Transpolar-Starter/assets/images/g2.jpg" alt="" class="img-fluid news-image"></a>
                    <div class="witemshny-inf">
                    </div>
                </div>
                <h4 class="gdnhy-1 mt-lg-4 mt-3">
                    <a href="#img">Lojistik Hizmet</a>
                </h4>
                <p class="mt-md-2">Lorem ipsum dolor sit amet, elit. Id ab commodi magnam.</p>
            </div>
            <div class="col-md-3 col-6 product-incfhny mt-4">
                <div class="weitemshny-grid oposition-relative">
                    <a href="#img" class="d-block zoom"><img src="~/Templates/Transpolar-Starter/assets/images/g5.jpg" alt="" class="img-fluid news-image"></a>
                    <div class="witemshny-inf">
                    </div>
                </div>
                <h4 class="gdnhy-1 mt-lg-4 mt-3">
                    <a href="#img">Kargo Taşımacılığı</a>
                </h4>
                <p class="mt-md-2">Lorem ipsum dolor sit amet, elit. Id ab commodi magnam.</p>
            </div>

        </div>
        <!--//row-1-->
        <div class="w3l-md-btn mx-auto text-center mt-md-5 mt-4">
            <a href="services.html" class="btn btn-style btn-primary mt-4">Daha Fazla Hizmet</a>
        </div>
    </div>
</section>
